/** Form **/

.form-edit-doc {
    margin-top: 3%;
}

.form-edit-doc p {
    margin-left: 10%;
}

.tiitle-doc{
    display: flex;
    padding-left: 3%;
    padding-top: 3%;
}

.add-doc-kanan {
    display: flex;
    align-items: center;
}

.add-doc-kanan img{
    width: 100%;
}

.icon-docu {
    margin-right: 20px; 
}

.kiri-icon-doc {
    margin-right: 20px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #A7A7A7;
}

.kiri-title-doc {
   margin-right: 20px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #4F5B96; 
}

.exel-form{
    position: absolute;
    box-sizing: border-box;
    width: 50%;
    height: 80%;
    left: 45%;
    top: 139px;
    background: linear-gradient(29.53deg, rgba(242, 244, 245, 0.5) -5.64%, rgba(233, 236, 244, 0.5) 75.55%, rgba(204, 215, 255, 0.5) 104.63%);
    box-shadow: 0px 5px 5px -25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.exel-content img {
    width: 40%; 
   margin-left: 30%;
   margin-top: 8%
}

.exel-des {
    width: 319px;
    height: 53px;
    margin-left: 17%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1B3442;
}

.exel-des span {
    width: 319px;
    height: 53px;
    left: 1045px;
    top: 375px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #073E0C;
}

/* button {
    padding: 14px;
    width: 130px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px rgba(44, 62, 80, 0.6);
    color: #ffff;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 4%;
}

button:nth-child(1) {
    background-color: #2C904D; 
} */

.drag-area{
  border: 2px dashed #B9C9FF;
  height: 550px;
  width: 550px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.drag-area.active{
  border: 2px solid #B9C9FF;
}
.drag-area .icon{
  font-size: 100px;
  color: #B9C9FF;
}
.drag-area header{
  font-size: 20px;
  font-weight: 600;
  color: #597CB1;
}
.drag-area span{
  font-size: 23px;
  font-weight: 500;
  color: #000;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  width: 30%;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #B9C9FF;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.miau4{
    display: flex;   
}

.miau4 .kiri-user{
    margin-left: 2%;
    float: left;
}

.miau4 .kanan-user{
    margin-left: 5%;
    float: right;
}

.miau5 {
    clear: both;
}

.miau5 textarea {
    margin-left: 9%;
    margin-top: 2%;
    width: 85%; 
    height: 250%;
    border: none;
    background: linear-gradient(277.42deg, rgba(134, 156, 190, 0.25) 0.65%, rgba(108, 119, 175, 0.25) 100%);
    backdrop-filter: blur(75px);
    border-radius: 12px;    
    padding: 0.7%;
}


.miau6 {
    margin-top: -47%;
}

.miau7 {
    margin-top: 0;
}


.tittle-form{
    margin-top: 15%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: #4D547A;
}

.tittle-form-email-doc{
    margin-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: #4D547A;
}

.input-form input{
    width: 295px;
    height: 40px;
    margin-top: 5%;
    border: none;
    background: linear-gradient(277.42deg, rgba(134, 156, 190, 0.25) 0.65%, rgba(108, 119, 175, 0.25) 100%);
    backdrop-filter: blur(75px);
    border-radius: 12px;
    padding-left: 10px;
}

.input-form-email input{
    width: 87%;
    height: 40px;
    margin-left: 9%;
    margin-top: 2%;
    border: none;
    background: linear-gradient(277.42deg, rgba(134, 156, 190, 0.25) 0.65%, rgba(108, 119, 175, 0.25) 100%);
    backdrop-filter: blur(75px);
    border-radius: 12px;
    padding-left: 10px;
}

.miau-container section {
    width: 100vmin;
    height: 100vh;
    margin-left: 28%;
    margin-top: 3%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tile{
    height: 8%;
    width: 170px;
    justify-content: center;
    position: relative;
}

.btn-edit-doc {
    position: relative; 
}

.btn-edit-doc button {
    margin-top: 3%; 
    margin-left: 80%;
    padding: 15px;
    border: none;
    cursor: pointer;
    background: linear-gradient(89.96deg, rgba(141, 92, 243, 0.5) 0.04%, rgba(91, 168, 239, 0.5) 58.24%, rgba(89, 111, 132, 0.5) 122.56%);
    border-radius: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #334062;
}

.p-judul-doc p{
    margin-left: 11%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #606060;
}

/* Upload File */

.upload-doc {
    margin-top: 4%;
    margin-left: 9%;
    width: 451px;
    height: 593px;
    left: 145px;
    top: 209px;
    border: 2px solid #B9C9FF;
    backdrop-filter: blur(75px);
    border-radius: 10px;
}

.upload-doc img {
    align-items: center;
    text-align: center;
    margin-left: 130%;
    margin-top: 180%;
    width: 20%;
}

.upload-doc p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-left: 90%;
    white-space: nowrap;
    text-align: center;
    color: #597CB1;
}

.upload-doc p span{
    color: #5C5C5C;
}

.upload-doc label {
    cursor: pointer;
}
.select-container-edit select{
width: fit-content;
margin-left: 2%;
height: 40px;
border: none;
background: linear-gradient(277.42deg, rgba(134, 156, 190, 0.25) 0.65%, rgba(108, 119, 175, 0.25) 100%);
backdrop-filter: blur(75px);
border-radius: 12px;
padding-left: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #4D547A;
}

.input-form-select select {
    width: 295px;
    height: 40px;
    margin-top: 5%;
    border: none;
    background: linear-gradient(277.42deg, rgba(134, 156, 190, 0.25) 0.65%, rgba(108, 119, 175, 0.25) 100%);
    backdrop-filter: blur(75px);
    border-radius: 12px;
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4D547A; 
}